# Production Environment Variables
# Скопируйте этот файл в .env на сервере и настройте под себя

# Домен (замените на ваш домен или IP)
DOMAIN=justcreatedsite.ru

# Настройки безопасности
NODE_ENV=production


# Настройки SSL
SSL_EMAIL=admin@justcreatedsite.ru

# Настройки приложения
BACKEND_PORT=3500
FRONTEND_PORT=4000

# Настройки базы данных PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=test_deploy_db
DB_USER=postgres
DB_PASSWORD=postgres123
